body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
    background: linear-gradient(to right, rgb(52, 232, 158), rgb(15, 52, 67));
}

.title{
margin-bottom: 20px;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: rgb(2, 31, 31);

}

.game{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.form{
              
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
     display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: center;
    background: linear-gradient(109.6deg, rgb(52, 220, 150) 11.2%, rgb(14, 56, 70) 91.1%);
}

.score{
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;
    margin-bottom: 60px;
}

.computer{
    margin-left: 30px;
}

.options{
    padding: 0.8rem;
    width: 100px;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    }


    
    .rock{
        margin-left: 20px;
        border-radius: 40%;
        border: none;
        padding: 10px;
        background-color: rgb(190, 192, 192);
        font-weight: bolder;
    }
    .rock:hover{
        cursor: pointer;
        background: rgb(199, 255, 88);
    }
    .paper{
        margin-left: 20px;
        border-radius: 40%;
        border: none;
        padding: 10px;
        background-color: rgb(190, 192, 192);
        font-weight: bolder;
    }
.paper:hover{
        cursor: pointer;
        background:rgb(199, 255, 88);
    }

    .scissors{
        margin-left: 20px;
        border-radius: 40%;
        border: none;
        padding: 10px;
        background-color: rgb(190, 192, 192);
        font-weight: bolder;
    }

    .scissors:hover{
        cursor: pointer;
        background: rgb(199, 255, 88);
    }