
body{
box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
background: linear-gradient(-45deg, #ffffff, #02fc62, #00d9ff, #08b9ff);
	background-size: 400% 400%;
	animation: gradient 6s ease infinite;
	height: 100vh;
	
 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust the height as needed */
}

h1 {
  text-align: center;
}

button {
  margin-top: 20px; /* Add spacing between the text and button */
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
